{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/coco.js' %}"></script>
</head>
<body>
        <nav class="navbar">
            <div class="logo">
              <img src="{% static 'images/ChatGPT Image May 14, 2026, 11_27_30 AM.png' %}" alt="logo">
              <h2>AuroraCoco</h2>
            </div>
        <ul>
           <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/menu/">Menu</a></li>
            <li><a href="/contact/">Contact</a></li>
           <li> <a href="/customize/">Customize</a></li>
          </ul>
        </nav>
<section class="customizer">

    <div class="customizer-header">
        <div>
            <h2>Customize Your Healthy Chocolate</h2>
            <p>Create your own guilt-free chocolate with healthy ingredients.</p>
        </div>

       
    </div>


    <div class="customizer-grid">

        <!-- Chocolate Base -->
        <div class="card">
            <h3>Chocolate Base</h3>

            <div class="option active">85% Dark Chocolate</div>
            <div class="option">Almond Milk Chocolate</div>
            <div class="option">Vegan Cocoa Blend</div>
        </div>


        <!-- Sweeteners -->
        <div class="card">
            <h3>Natural Sweeteners</h3>

            <div class="chips">
                <span>Honey</span>
                <span>Stevia</span>
                <span>Dates</span>
                <span>Coconut Sugar</span>
            </div>
        </div>


        <!-- Healthy Toppings -->
        <div class="card">
            <h3>Healthy Toppings</h3>

            <div class="toppings">
               <div>Almonds</div>
                <div>Pistachio</div>
                <div>Protein Crunch</div>
                <div>Chia Seeds</div>
                <div>Walnuts</div>
                <div>Berries</div> 
            </div>
        </div>


        <!-- Custom Message -->
        <div class="card">
            <h3>Custom Message</h3>

            <textarea placeholder="Stay Fit, Stay Sweet ❤️"></textarea>

            <button class="add-btn">Add To Cart</button>
        </div>

    </div>

</section>
    <footer>
        @ 2026 choco 
    </footer>
</body>
</html>